


body {
    height:100%;
    padding:0%;
    margin-top: 50px;
    background-image: none;
    background-color:#4d72aa !important;
    }

.col-md-3{
    border:rgb(74, 74, 74) 1px solid;
    /* height:300px; */
    padding:6px;
    margin:6px;
}

#h4user, #h4_activ{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:black;
    
}
#usericonimg{
    border:black solid 1px;
    margin: 6px;
    padding:3px;
}


.d-grid{
padding:3px;
}

.container .col-md-2{
    padding:3px;
    margin:4px;
}

